page-sales-point-list {

    .no-history {
        
        text-align: center;
    
        margin-top: 190px;
    }

    .point-block {
        margin-top: 20px !important;

    }

    .no-history img {
        width: 100px;
    }
}
