.main-history.mb70.padding0 {
    margin: 10px;
}
.loc p {
    display: flex;

}


strong {
    word-break: break-all;
}

.data-not {
    justify-content: center;
    margin-top: 100px;
    padding: 100px;
}